# Ignore node_modules to ensure fresh install inside the container
node_modules
npm-debug.log
yarn-error.log

# Ignore local environment files
.env
.DS_Store

# Ignore logs
logs
*.log

# Ignore temporary files
tmp/
*.tmp
*.swp

# Ignore test files
coverage
*.test.js
*.spec.js
__tests__/
test/

# Ignore other files and folders
.git
.gitignore
.vscode
.idea
Dockerfile*
.dockerignore
